<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="ws.dyt.plugin.umeng.loginshare">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
        <meta-data
            android:name="WX_APPKEY"
            android:value="${WX_APPKEY}" />
        <meta-data
            android:name="WX_APPSECRET"
            android:value="${WX_APPSECRET}" />
        <meta-data
            android:name="QQ_APPKEY"
            android:value="${QQ_APPKEY}" />
        <meta-data
            android:name="QQ_APPSECRET"
            android:value="${QQ_APPSECRET}" />
        <meta-data
            android:name="SINA_APPKEY"
            android:value="${SINA_APPKEY}" />
        <meta-data
            android:name="SINA_APPSECRET"
            android:value="${SINA_APPSECRET}" />
        <meta-data
            android:name="SINA_URL"
            android:value="${SINA_URL}" />

        <activity
            android:name=".plugin.LoginPluginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plugin.SharePluginActivity"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".main.ModuleInitReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="ws.dyt.lib#umeng.share.init.ACTION" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".main.ActionDispatchMonitorReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="ws.dyt.lib#umeng.share.data.ACTION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
